<div class="container" style="padding-left: 10px !important;">
  <p>
  <h2 style="color: blue">Inside Server Component</h2>
  <hr>
  <b>Server Name</b>
  <!--<input-->
    <!--type="text"-->
    <!--class="input-sm col-xs-2 form-control"-->
    <!--(input)="onUpdateServer($event)">-->
  <input
    type="text"
    class="input-sm col-xs-2 form-control"
    [(ngModel)]="serverName"

  >
  <p>{{serverName}}</p>
  <button
    class="btn btn-info"
    [disabled]="!allowCreateServer"
    (click)="onCreateServer()"> Create Server</button>
  <p>{{ allowCreateServer }}</p>
  <p *ngIf="isServerCreated; else noServer" [ngStyle]="{'background-color':getColor()}" [ngClass]="{online: serverStatus === 'online'}">{{ serverCreatedStatus }}</p>
  <ng-template #noServer>
    <p>
      {{serverCreatedStatus}}
    </p>
  </ng-template>

</div>

